.footer {
  background-color: var(--back-dark);
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}
.foot {
  color: var(--white-color);
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo__foot {
  font-family: var(--accent-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  padding: 0;
  margin-top: 60px;
  margin: 0;
}
.contacts-list-foot > li {
  font-style: normal;
}
.contacts-list-foot {
  margin-top: 20px;
}
.contacts-list-foot .link {
  display: inline-block;
  color: var(--foot-contact-text);
  margin-top: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-foot a:hover,
.contacts-list-foot a:focus {
  color: var(--active-color);
}
.logo__item--foot {
  color: var(--white-color);
}
.foot-id {
  width: 231px;
}
/* CONNECT */
.connect-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-align: center;
}
.connect {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 70px;
}

.social-connect-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
}
.social-connect-link {
  display: flex;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-connect);
  fill: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-connect-item:not(:last-child) {
  margin-right: 10px;
}
.social-connect-link:hover,
.social-connect-link:focus {
  background-color: var(--active-color);
}
/* SUBSCRIBE */
.form-subscribe {
  position: relative;
  display: flex;
}
.subscribe {
  position: relative;
  align-items: baseline;
  align-items: baseline;
  margin-left: 93px;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subscribe-field {
  text-align: center;
  justify-content: center;
  width: 358px;
  height: 50px;
  border: none;
}
.subscribe-input {
  display: inline-block;
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--back-dark);
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--button-background-active);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0;
  margin-left: 12px;
}
.send {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.button-label {
  display: flex;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  align-items: center;
}
